.mediaButton{
  margin-right: 10px;

}
.appconfigEditRow{
  margin-bottom: 50px;
  width: 100%;
}
.advertRuleContainer{
    width: 100%;
    margin-bottom: 50px;
    margin-top: 10px;
    margin-left: 10px;
}
.advertRuleButton{
  margin-right: 10px;
}
