.searchBox{
  margin-top:10px;
  margin-bottom:10px;
}

#search{
  width:200px;
  margin-left: 5px;
}
.btn-search{
  width: 55.5px;
  height: 55.5px;
  background-color: #42A5F5;
  cursor: pointer;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  
}


	.btn-search:link, .btn-search:visited {
	  color: #fff;
	}
	.btn-search:active, .btn-search:hover {
	  background: #1c1c1c;
	  color: #fff;
	}
.searchBox label {
  margin-left: 15px;
  margin-right: 5px;
}
.searchWithChannelBox{
  display:flex;
  flex-direction: row;
}


.searchWithChannelBox label {
  margin-left: 15px;
  margin-right: 5px;
}


.boxVideoPlayer{
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0,0,0,0.3);
   z-index:100;
}

.closeVideoPlayer{
   z-index:100;
   position: fixed;
   top: 0;
   left: 50%;
   background: rgba(0, 0, 88, 0.5);
}
